
.refreshh{
  float: right;
  position: relative;
  bottom: 40px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
     border: 2px solid #2fa4e7;

    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

 td {
  text-align: left;
  padding: 8px;
  color: black;
    border:1px solid #2fa4e7;

}
th{
    color: white;
    text-align: left;
    padding: 8px;
    border:1px solid white;
}

tr:nth-child(even)
{
  background-color:lightskyblue;

}

thead{
  background-color:#2fa4e7;
}




/*
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 2px solid darkslategray;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px darkslategray;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section{
  margin: 50px;
}
.tbl-header{
    background-color:darkcyan;
/*    margin-left: -47px;*/
/*    width: 80%;*/
/*    width: 140%;*/
    width:100%;
}
.tbl-content{
       background-color:beige;
    width:100%;
/*
    margin-left: -47px;
    width: 80%;
*/

}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}














 */
