
label{
  color:darkblue;
    margin-top:20px;
}
.sub11
{
    background-color: darkblue;
    border: darkblue;
    color:white;
    border:1px solid darkblue;
    border-radius: 10%;
    width:6%;
    height:40px;
    margin-left: 63%;
}
 .sub11:hover
{
    background-color:cornflowerblue;
    border: cornflowerblue;
    color:white;
    border:1px solid cornflowerblue;
    border-radius: 10%;
    width:6%;
    height:40px;
    margin-left: 63%;
}
.can11
{
    background-color: darkred;
    border:  darkred;
    color:white;
    border:1px solid  darkred;
    border-radius: 10%;
    width:6%;
    height:40px;
/*    margin-left: 35%;*/
}
 .can11:hover
{
    background-color:cornflowerblue;
    border: cornflowerblue;
    color:white;
    border:1px solid cornflowerblue;
    border-radius: 10%;
    width:6%;
    height:40px;
/*    margin-left: 35%;*/
}

.drop{
    width: 20%;
      margin-top: -3%;
    margin-left: 8%;
      border: 2px solid skyblue;
}
  
 .refresh{ 
    margin-left: 96%;
    height: 30px;
    width: 4%;
    margin-top: -62px;!important
} 
.breadcrumb{
    width:100%;

 margin-bottom: 20px; 
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 55px;
}
.autogrow{
   width:80%;
    white-space: none;
}
#mceu_16{
/*    background-color: #2fa4e7;*/
    background-color: white;
    color: white;
}
#mceu_15{
    border:90px solid #2fa4e7;
    
}
#mce_0_ifr{
    height:30px;
}
#mce_0_ifr{
/*    height:30px!important;*/
}
.option{
    width:100%;
    margin-top: -13%;
    margin-left: 64%;
    border: 2px solid skyblue;
}
