
label{
  color:darkblue;
    margin-top:20px;
}

 .refresh{ 
    margin-left: 96%;
    height: 30px;
    width: 4%;
    margin-top: -62px;!important
} 
.breadcrumb{
    width:100%;

 margin-bottom: 20px; 
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 55px;
}

#myTable > tbody > tr:nth-child(n) > td:nth-child(n){
    text-align: center;
}
#myTable > thead > tr > th:nth-child(n){
     text-align: center;
}

.tabletext{
    text-align: justify;
}

.pager .active a{
    background-color : #337AB7;
    color: #FFF;
    border: 0px;
}
.studentrelisttable{
    border: 2px solid #317eac;
}
.studentrelistthead th{
     border: 1px solid #317eac;
    background-color: #317eac;
    color: white;
}
tr:nth-child(even){background-color:lightgray}
.searchtable{
    float: right;
    margin-top: 13px;
    margin-right: -145px;
    color: #337ab7;
}
.searchtab{
  float:right;
    width: 20%;

}
.sub16
{
    background-color: darkblue;
    border: darkblue;
    color:white;
    border:1px solid darkblue;
    border-radius: 10%;
    width:6%;
    height:40px;
    margin-left: 78%;
}
 .sub16:hover
{
    background-color:cornflowerblue;
    border: cornflowerblue;
    color:white;
    border:1px solid cornflowerblue;
    border-radius: 10%;
    width:6%;
    height:40px;
    margin-left: 78%;
}