body {
  font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
/*  background: #137f4f;*/
/*    background-image: url(../images/password-protected-internet-100670516-orig.jpg);*/
    background-repeat:no-repeat;
    background-size: cover;
    background-position: fixed;
    background-image: url(../images/slide1.jpg);


}

.login {
  width: 340px;
/*  background-color: #1ea167;*/
/*    background-image: url('../images/im.jpg');*/
    background-repeat: no-repeat;
    background-size:cover;
  border-radius: 5px;
  padding: 36px;
  background-image: -webkit-linear-gradient(90deg, #265c7e, #09072E);
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -170px;
/*  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 2px rgba(0, 0, 0, 0.5);*/
}
.login h2 {
  color: white;
  font-size: 20px;
  margin: 0 0 15px;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    margin-top: -34px;
    margin-left: 50px;
}
.login fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
}
.login fieldset input {
  outline: none;
  width: 300px;
  height: 12px;
  display: block;
/*  background: #138050;*/
/*  border: 1px solid #0d6b42;*/
/*    border:1px solid white;*/
      border:2px solid white;
    background:white;
/*  margin: 0;*/
    margin: 8px;
  padding: 13px 15px;
  font-size: 13px;
}
.login fieldset input:focus, .login fieldset input:active {
/*  background-color: #1ea167;*/
     background-color: white;
}
.login fieldset input:nth-child(1) {
/*  border-radius: 5px 5px 0 0;*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}
.login fieldset input:nth-child(2) {
  position: relative;
  top: -1px;
/*  border-radius: 0 0 5px 5px;*/
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}
.login fieldset ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* login button*/
.login input[type="submit"] {
  margin-left: 248px;
  display: block;
  padding: 13px 0;
  width: 86px;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
/*  background-color: #f6ba35;*/
    background-color: #3c8a97;
/*  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);*/
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color:white;
    margin-top: 16px;
}

.btn-submit{
  margin-left: 248px;
  display: block;
  padding: 13px 0;
  width: 86px;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
/*  background-color: #f6ba35;*/
    background-color: #3c8a97;
/*  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);*/
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color:white;
    margin-top: 16px;
}


.login .utilities {
  margin-top: 20px;
}
.login .utilities a {
/*  color: #61e5ab;*/
    color:white;
  text-decoration: none;
  font-size: 12px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
.login .utilities a:hover {
color:#3c8a97;
}
.login .utilities a:nth-child(2) {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
    margin-top:2px;
}
.login:before, .login:after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 5px;
  width: 53%;
  top: 15px;
  height: 80%;
  bottom: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: -10px -15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-3deg);
}
.login:after {
  box-shadow: 10px -15px 20px rgba(0, 0, 0, 0.2) !important;
  -webkit-transform: rotate(3deg);
  right: 5px;
  left: auto;
}




/* switch */

label.switch {
    position: relative;
    display: inline-block;
    height: 23px;
    padding-left: 5em;
    cursor: pointer;
    color: #000;
}

li:nth-child(2) a,
label.switch {
    text-transform: normal;
    font-size: 12px;
    font-weight:400;
    letter-spacing: 1px;
    color:white;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 26%;
/*    background-color: #777;*/
   background-color: #3c8a97;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00bcd4;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* //switch */

.switch-agileits {
    float: left;
    margin-top: 1em;
}

.form-end {
    float: right;
    width: 35%;
}

img{

    width: 40px;
    height:40px;
}
::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
}
